@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.explore-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //background-color: $card-background-color;
    padding:0;
    margin:0;

}