@import './variables.scss';

@mixin main-children{
    background-color: $main-elements-background-color;
    border-radius: $children-border-radius;
    width: 100%;
    padding:0%;
    margin:0;

    
}

@mixin main-grandchildren{
    background-color: $main-grandchildren-background-color;
    border-radius: $grandchildren-border-radius;

    
}

@mixin main-great-grandchildren{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

@mixin pokemon-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 2%;
    
}

@mixin required-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0%;
    
}

@mixin card-controls{
    color: $button-color;
    background-color:none;
    border: $button-border;
    width:min-content;
    
    &:hover{
        color: $button-hover-color;
        background-color: $button-hover-background-color;
    }
    

}
