$titles-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$normal-font: 'Franklin Gothic';
$card-info-font: ''Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;';

$main-brothers-padding: 10px;
$main-brothers-margin: 10px;

$general-background-color: rgb(231, 231, 231); 
$header-background-color: rgb(247, 247, 247); 
$main-elements-background-color: rgb(247, 247, 247); 
$main-grandchildren-background-color: rgb(252, 252, 252); 

$parents-border-radius: 24px;
$children-border-radius: 12px;
$grandchildren-border-radius: 12px;



$input-border-color: rgb(223, 223, 223);
$input-border-radius: 6px;

$card-border-radius: 12px;
$card-border-color: rgb(223, 223, 223);
$card-title-fontsize: 1.2em;
$card-text-fontsize: 1.0em;
$card-title-color: black;
$card-text-color: black;
$card-background-color: rgb(252, 252, 252);

$extra-card-border-radius: 12px;
$extra-card-border-color: rgb(223, 223, 223);
$extra-card-title-fontsize: 1.2em;
$extra-card-text-fontsize: 1.0em;
$extra-card-title-color: black;
$extra-card-text-color: black;
$extra-card-background-color: rgb(247, 247, 247);

$close-button-radius: 30px;
$button-color: rgb(0, 0, 0);
$button-background-color: rgb(235, 235, 235);
$button-hover-color: rgb(255, 255, 255);
$button-hover-background-color: black;
$button-border: rgb(0, 0, 0) solid 1px;




