@import '../utils/variables.scss';
@import '../utils/mixins.scss';

/* *{
    border: solid black 1px;
} */

#root{
    margin:0;
    padding:0;
}

//elements

body{
    display: flex;
    flex-direction: column;
    
    margin:0;
    padding:0%;
    background-color: $general-background-color;
}

ul{
    font-family: $normal-font;
    padding: 0;
    list-style-type: none;
}

li{
    list-style-type: none;
}

h1{
    font-family: $titles-font;
    font-size: 43px;
}

h2{
    font-family: $titles-font;
}

h3{
    font-family: $titles-font;
}

h4{
    font-family: $titles-font;
    
}

p{
    font-family: $normal-font;
    margin:0;
}

input{
    border: $input-border-color solid 2px;
    border-radius: $input-border-radius;
    padding: 5px;
    margin: 2px;
}

a{
    text-decoration: none;
    font-size: 2.5em;
}

button {
    background-color: $button-hover-color;
    color: $button-hover-background-color;
}

//classes

.hidden{
    display: none;
}